@use 'components.scss';
@use 'reset.scss';
@use 'mixins.scss';
@use 'animista.scss';
@use 'colors';
@use 'nav';

body {
	width: 100%;
	font-size: 1.6rem;
	// font-family: 'Raleway', sans-serif;
	font-family: 'Poppins', sans-serif;
	background-color: rgb(227, 223, 223);
}

section {
	scroll-margin-top: 100px;
}

// nawigacja

.nav {
	position: relative;
	top: 0;
	left: 0;
	background-color: none;
	z-index: 100;

	&__burger {
		position: fixed;
		top: 0;
		right: 0;
		display: block;
		margin-left: auto;
		padding: 0.5em;
		font-size: 4rem;
		color: colors.$white-color;
		background: transparent;
		transition: color 0.3s;
		z-index: 101;

		&--dark {
			color: #222;
		}
	}

	&__mobile {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: #ddd;
		transform: translateX(100%);
		transition: transform 0.3s;

		&--active {
			transform: translateX(0);
		}

		a {
			padding: 1em 2em;
			font-size: 2.6rem;
			color: #444;
			text-transform: uppercase;
			font-weight: bold;
			transition: width 0.3s;
		}
	}

	&__desktop {
		display: none;
	}
}

// header

.header {
	position: relative;
	background-image: url('/img/header-small.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 80vh;
	z-index: 0;

	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		z-index: -1;
	}

	&__text {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 0 1em;
		height: 100%;
		font-family: 'Kaushan Script', cursive;
		color: colors.$white-color;
		text-align: center;
		text-shadow: 2px 2px 2px rgb(145, 145, 145);
		z-index: 1;

		&-title {
			margin-bottom: 0.5em;

			span {
				color: colors.$main-color;
				text-shadow: 2px 2px 2px rgb(75, 29, 29);
			}
		}

		&-btn {
			position: relative;
			margin-top: 2em;
			padding: 0.4em 1em;
			color: #fff;
			font-size: 2rem;
			border: 1px solid #fff;
			border-radius: 5px;
			text-shadow: none;
			cursor: pointer;
		}

		&-btn::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			height: 0;
			width: 100%;
			z-index: -1;
			transition: height 0.3s, color 0.3s, background-color 0.3s;
		}

		&-btn:hover::before {
			height: 100%;
			background-color: colors.$white-color;
		}

		&-btn:hover {
			color: rgb(65, 65, 65);
		}
	}
}

// aboutme

.aboutme {
	&-box {
		&-text {
			padding: 0 1.2em;
			margin-bottom: 2em;
			text-align: center;
		}

		&-img {
			width: 100%;
			height: 300px;
			object-fit: cover;
			object-position: top;
			transition: transform 0.3s;
		}

		&-img:hover {
			transform: scale(1.2);
		}
	}
}

// technologia

.technology {
	overflow: hidden;
	&__boxes {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		&-item {
			padding: 1em 0;
			width: 50%;

			text-transform: uppercase;
			text-align: center;
			transition: transform 0.3s;

			p {
				font-size: 2rem;
				font-weight: bold;
			}

			.fa-brands {
				margin-bottom: 0.3em;
				font-size: 6rem;
				text-shadow: 0 0 5px rgb(183, 183, 183);
			}

			.fa-html5 {
				color: rgb(235, 82, 0);
			}

			.fa-css3-alt {
				color: rgb(13, 106, 246);
			}

			.fa-square-js {
				color: rgb(231, 212, 0);
			}

			.fa-sass {
				color: rgb(250, 63, 234);
			}

			.fa-gulp {
				color: rgb(255, 0, 0);
			}

			.fa-bootstrap {
				color: rgb(134, 1, 206);
			}
		}

		&-item:hover {
			transform: scale(1.2);
		}
	}
}

// portfolio

.portfolio {
	&__items {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 0 2em;
	}

	&__item {
		margin: 1em;
		height: 300px;
		width: 100%;
		background-color: #333;
		text-align: center;
		border-radius: 5px;

		h3 {
			margin-top: 1em;
			color: #fff;
		}
	}
}

// contact

.contact {
	position: relative;
	background-color: rgb(83, 83, 83);
	border-top-left-radius: 20%;
	border-top-right-radius: 20%;
	padding-bottom: 1em;

	.section-title {
		padding-top: 1em;
		color: #ddd;
	}

	&__boxes {
		text-align: center;
	}

	&__box {
		margin: 3em;
		color: #ddd;

		i {
			margin-bottom: 0.5em;
			font-size: 4rem;
			color: rgb(206, 109, 109);
		}

		h3 {
			font-size: 3rem;
			margin-bottom: 0.3em;
		}

		p {
			font-size: 2rem;
		}
	}
}

// footer

footer {
	padding: 2em 0;
	width: 100%;
	background-color: rgb(47, 47, 47);

	p {
		margin-left: 2em;
		color: rgb(204, 201, 201);
	}
}

// MEDIA
//
//
//

@media (min-width: 576px) {
	.contact {
		&__boxes {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
		}
	}
}

@media (min-width: 768px) {
	.nav {
		background-color: #fff;

		&--transparent {
			background-color: rgba(184, 182, 182, 0.7);
		}

		.nav__burger,
		.nav__mobile {
			display: none;
		}

		.nav__desktop {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			display: flex;
			justify-content: flex-end;
			transition: background-color 0.3s;
		}

		&__link {
			position: relative;
			margin: 0.8em 0.4em;
			margin-right: 1em;
			font-size: 2rem;
			color: colors.$white-color;
			font-weight: bold;
			z-index: 0;
			transition: color 0.3s;

			&--color {
				color: #333;
			}
		}

		&__link::after {
			content: '';
			position: absolute;
			bottom: -5px;
			left: 50%;
			transform: translateX(-50%);
			width: 0;
			height: 4px;
			background-color: rgb(206, 109, 109);
			transition: width 0.3s;
			border-radius: 50%;
			z-index: -1;
		}

		&__link:hover::after {
			width: 70%;
		}
	}

	.header {
		background-image: url('/img/header-big.jpg');

		&__text {
			&-title {
				font-size: 5rem;
			}

			&-description {
				font-size: 2.2rem;
			}
		}
	}

	.aboutme {
		&-box {
			display: flex;
			align-items: center;
			padding: 0 2em;

			&-text {
				font-size: 2rem;
				margin-right: 1em;
				text-align: left;
			}
		}
	}

	.section-title {
		font-size: 5rem;
	}

	.technology {
		&__boxes {
			justify-content: space-around;
			&-item {
				margin: 2em 0;
				width: 33.33%;

				.fa-brands {
					font-size: 8rem;
				}
			}
		}
	}

	.portfolio {
		&__items {
			flex-direction: row;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			width: 100%;
		}

		&__item {
			margin: 1em;
			padding: 1em;
			width: 40%;
			transition: transform 0.3s;

			h3 {
				font-size: 3rem;
			}
		}

		&__item:hover {
			transform: scale(0.95);
		}
	}

	.contact {
		&__box {
			i {
				margin-bottom: 0.5em;
				font-size: 6rem;
				color: rgb(206, 109, 109);
			}

			h3 {
				font-size: 3.6rem;
				margin-bottom: 0.3em;
			}

			p {
				font-size: 2.4rem;
			}
		}
	}
}

@media (min-width: 992px) {
	.aboutme {
		&-box {
			&-img {
				width: 100%;
			}
		}
	}

	.technology {
		&__boxes {
			&-item {
				width: 16.66%;
			}
		}
	}

	.portfolio {
		&__items {
			justify-content: space-evenly;
		}
		&__item {
			width: 30%;

			h3 {
				font-size: 3rem;
			}
		}
	}
}
