@use 'base/reset';
@use 'components/components';
@use 'mixins.scss';
@use 'animista';
@use 'colors';
@use 'layout/navigation';
@use 'layout/header';
@use 'layout/main';
@use 'layout/footer';

body {
	width: 100%;
	font-size: 1.6rem;
	font-family: 'Poppins', sans-serif;
	background-color: rgb(227, 223, 223);
}

section {
	scroll-margin-top: 100px;
}

// footer



// MEDIA
//
//
//



